// Define a breakpoint context.
//
// @param $queries: This parameter would be in the form 'property value', where
//   property is the media query property (like 'max-width', 'min-width',
//   'orientation', 'min-device-pixel-ratio', etc.) applied with 'value'
//   Multiple properties/values my follow each other.
//
// @param $media-gutter: This parameter set the value of gutter beetween
//   columns in the breakpoint context.
//   Defaults to global gutter value.

// Usage @include breakpoint(max-width 960 [min-width 300], 20) { @content }

@mixin breakpoint($queries, $media-gutter: $gutter) {
  $media-rule: 'screen and ';
  $queries-length: length($queries);

  // Raise an error if $queries isn't in property/value form and use default
  // `max-width` property
  @if $queries-length == 1 {
    @warn "#{$queries} should be in the form 'property value'.
    Assuming with default property 'max-width #{$queries}'";
    $queries: ('max-width' $queries);
    $queries-length: $queries-length + 1;
  }

  // Loop through $queries and compose the media rule
  $i: 1;
  @while $i <= $queries-length {
    $media-rule: $media-rule + '(' + nth($queries, $i) + ': ' + nth($queries, $i + 1) + ') ';
    @if ($i + 1) != $queries-length {
      $media-rule: $media-rule + 'and ';
    }
    $i: $i + 2;
  }

  @media #{$media-rule} {
    // This assignment to $gutter variable is meant to be local.
    // Unfortunately, in current SASS version (3.3.4 (Maptastic Maple))
    // it isn't possible.
    // So I set the global $gutter value to local value and reset it
    // to previous value at the end of context
    $old-gutter: $gutter;
    $gutter: $media-gutter !global;

    // It necessary to reset clear property inside media-query
    // TODO: find a way to avoid the use of !important
    clear: none !important;
    @content;
    $gutter: $old-gutter !global;
  }
}
